<div class="w-full h-screen flex flex-col justify-center items-center bg-slate-600">

  <!--        Premier formulaire, recherche du centre         -->
  <div *ngIf="secondForm" class="bg-zinc-500 rounded-md p-2">
    <input class="flex m-auto form-control w-60" type="text" [(ngModel)]="searchText" name="search"  autocomplete="off" placeholder="Entrez un centre de vaccination">
    <table *ngIf="searchText.length>1" class="table table-striped">
      <tbody class="flex">
      <tr *ngFor="let centre of centers | filter:searchText" class="flex flex-col m-2 bg-zinc-400 rounded-md p-1">
        <td>{{centre.name}}</td>
        <td>{{centre.address.zipcode}} {{centre.address.street}}</td>
        <td>{{centre.address.city}}</td>
        <button (click)="onChooseClick(centre)" class='bg-sky-600 rounded-md hover:bg-cyan-800'>Choisir</button>
      </tr>
      </tbody>
    </table>
  </div>

  <!--        Deuxieme formulaire, données de l'utilisateur          -->
  <div *ngIf="!secondForm && reserveOk" class="bg-zinc-500 w-fit rounded-md p-2">
    <div class="flex flex-row justify-evenly">
      <button class='bg-sky-600 rounded-md hover:bg-cyan-800 p-1' (click)="onBackClick()">Retour</button>
      <p>Prise de rendez-vous</p>
    </div>
    <div class="flex flex-col m-2 bg-zinc-400 rounded-md p-1">
      <p>{{centerChoosen.name}}</p>
      <p>{{centerChoosen.address.zipcode}} {{centerChoosen.address.street}}</p>
      <p>{{centerChoosen.address.city}}</p>
    </div>
    <form  name="resaForm" #reserveForm="ngForm" (ngSubmit)="onReserveClick(reserveForm)" class="flex justify-evenly">
      <div class="flex flex-col">
        <div>
          <label>Prénom :</label>
          <input class="m-1" type="text" id="fname" [(ngModel)]="fname" name="fname">
          <label>Nom :</label>
          <input class="m-1" type="text" id="lname" [(ngModel)]="lname" name="lname">
        </div>
        <div>
          <label>Mail :</label>
          <input class="m-1" type="email" id="email" [(ngModel)]="mail" name="mail">
          <label>Date :</label>
          <!-- <input class="m-1" type="date" [(ngModel)]="daterdv" name="daterdv"> -->
          <mat-form-field appearance="fill">
            <mat-label>Choisissez une date</mat-label>
            <input matInput [min]="minDate" [matDatepickerFilter]="dateFilter" [matDatepicker]="picker" [(ngModel)]="daterdv" name="daterdv">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
    <button [disabled]="!fname || !lname || !mail || !daterdv" (click)="onReserveClick(reserveForm)" class='flex p-1 m-auto bg-sky-600 rounded-md hover:bg-cyan-800 disabled:opacity-25'>Reserver</button>
  </div>

  <!--       Message de validation de la reservation          -->
  <div *ngIf="!reserveOk" class="bg-zinc-500 rounded-md p-2">
    <p class="bg-slate-200 rounded-md p-2">Réservation effectuées</p>
  </div>
</div>