<mat-card class="flex bg-zinc-300">
    <div>
      <form [formGroup]="form">
        <div class="flex flex-col">
          <div class="flex flex-row">
                <mat-form-field appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="name" placeholder="Nom">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput formControlName="address" placeholder="Adresse">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Code postaal</mat-label>
                <input matInput formControlName="codepostal" placeholder="Code Postal">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ville</mat-label>
                <input matInput formControlName="city" placeholder="ville">
            </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="mail" placeholder="Email">
          </mat-form-field>
          <div class="flex justify-evenly">
            <button (click)="backClicked()" mat-raised-button color="primary">Annuler</button>
            <button mat-raised-button color="primary">Désactiver</button>
            <button (click)="onSubmit(form)" mat-raised-button color="primary">Enregistrer</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>