<mat-card class="flex bg-zinc-300">
  <form [formGroup]="form">
    <div class="flex flex-col">
      <div class="flex flex-row">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="fname" placeholder="Prénom">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lname" placeholder="Nom">
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" placeholder="Email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="'password'" formControlName="password" placeholder="Mot de passe">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roleList" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Centre de rattachement</mat-label>
        <mat-select formControlName="center">
          <mat-option *ngFor="let center of centerList" [value]="center">
            {{center.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex justify-evenly">
        <button mat-raised-button color="primary">Annuler</button>
        <button mat-raised-button color="primary">Désactiver</button>
        <button (click)="onSubmit(form)" mat-raised-button color="primary">Enregistrer</button>
      </div>
    </div>
  </form>
</mat-card>