<div class="h-full w-full flex bg-slate-600 flex-row">
    <app-menu class="h-full bg-zinc-700"></app-menu>
    <mat-card class="flex w-full flex-row justify-evenly">
        <!-- Sélection centres -->
        <div class="bg-zinc-500 rounded-md p-2">
          <div class="flex flex-row">
            <input class="flex m-auto form-control w-60" type="text" [(ngModel)]="searchText" name="search"  autocomplete="off" placeholder="Entrez un centre de vaccination">
            <button mat-raised-button color="primary" routerLink="/addcentre"> Ajouter un centre</button>
          </div>
            <table  class="table table-striped">
                <!-- *ngIf="searchText.length>1" -->
                <tbody class="flex">
                <tr *ngFor="let centers of centers | filter:searchText" class="flex flex-col m-2 bg-zinc-400 rounded-md p-1">
                <td>
                    <div>
                        {{centers.name}}
                        <mat-icon class="hover:cursor-pointer" aria-hidden="false" aria-label="Example home icon" (click)="onCenterEdit(centers)" fontIcon="border_color"></mat-icon>
                    </div>
                </td>
                <td>
                    <div>
                        {{centers.address.street}}
                        <mat-icon class="hover:cursor-pointer" aria-hidden="false" (click)="onEquipClick(centers)" aria-label="Example home icon" fontIcon="group"></mat-icon>
                    </div>
                </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Edit centre -->
        <div class="flex justify-center item-center"*ngIf="centerEdit">
            <app-form-center [centerChoosen]="centerChoosen"></app-form-center>
        </div>

        <div *ngIf="equipEdit">
            <div class="flex flex-col">
                <app-datagrid [title]="'Administrateur'"></app-datagrid>
                <button mat-raised-button color="primary" routerLink="/addChangeAdmin"> Ajouter un administrateur</button>
                <app-datagrid [title]="'Médecins'"></app-datagrid>
                <button mat-raised-button color="primary" routerLink="/addChangeAdmin"> Ajouter un médecin</button>

            </div>
           
        </div>

    </mat-card>
</div>
