<p>connexion works!</p>

      <div *ngIf="erreur==1">
        <strong>login ou mot de passe erronés</strong>
      </div>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <label for="name">
            nom
          </label>
          <input type="text" id="name" name="name" ngModel>
>

          <label for="password">
            password
          </label>
          <input type="password" id="password" name="password" ngModel>

        <button type="submit"  >Enregistrer</button>
      </form>
