<p>ajout-admin works!</p>

<form>
    <div >
        <label for="firstName">Prénom </label>
        <div >
          <input id="firstName" required>
        </div>
    </div>
    <div >
        <label for="lastName">Nom </label>
        <div >
          <input id="lastName" required>
        </div>
    </div>
    <div >
        <label for="mail">Email </label>
        <div >
          <input id="mail" required>
        </div>
    </div>
    <div >
        <label for="phoneNumber">Telephone </label>
        <div >
          <input id="phoneNumber" required>
        </div>
    </div>

    <div class="bg-zinc-500 rounded-md p-2">
        <input class="flex m-auto form-control w-60" type="text" [(ngModel)]="searchText" name="search"  autocomplete="off" placeholder="Entrez un centre de vaccination">
        <table *ngIf="searchText.length>1" class="table table-striped">
          <tbody>
          <tr *ngFor="let centre of centers | filter:searchText" class="flex flex-col m-2 bg-zinc-400 rounded-md p-1">
            <td>{{centre.name}}</td>
            <td>{{centre.adress}}</td>
            <button (click)="onChooseClick(centre)" class='bg-sky-600 rounded-md hover:bg-cyan-800'>Choisir</button>
          </tr>
          </tbody>
        </table>
      </div>
      <div>vous avez choisis: {{choosencenter.name}}</div>
      <a class="btn btn-success"  style="cursor: pointer;" (click)="ajouterAdmin()" routerLink="/gestion-admin">Save</a>
</form>