<div class="h-full flex bg-slate-600 flex-row">
    <app-menu class="h-full bg-zinc-700"></app-menu>
    <div class="h-full w-full flex flex-col bg-slate-700 justify-evenly">
      <mat-card class="flex w-full flex-row justify-evenly">
        <form [formGroup]="centerForm">
          <mat-form-field appearance="fill">
            <mat-label>Centre</mat-label>
            <mat-select formControlName="role" (selectionChange)="getAppointment($event)">
              <mat-option *ngFor="let center of centers" [value]="center.id" onchange="">
                {{center.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <div class="flex flex-col m-2 bg-zinc-400 rounded-md p-1">
          <tr *ngFor="let appointment of appointment" class="flex flex-col m-2 bg-white rounded-md p-1">
            <td>{{appointment.day}}</td>
            <div *ngIf="appointment.available == true"> Libre </div>
            <div *ngIf="appointment.available == false"> Réservé <!--{{appointment.utilisateur.firstName}}--></div>
          </tr>
        </div>
      </mat-card>
    </div>
  </div>
