<mat-toolbar>
    <!-- Uniquement super admin -->
    <mat-toolbar-row class="hover:bg-gray-700 hover:text-white"> 
      <a href='' class='w-full hover:bg-gray-700'>Centres</a>
    </mat-toolbar-row>
    <!-- uniquement admin rattache au centre -->
    <mat-toolbar-row class="hover:bg-gray-700 hover:text-white">
        <a href='' class='w-full hover:bg-gray-700'>Mon centre</a>
    </mat-toolbar-row>
    <!-- Uniquement au admins ou médecin rattaché au centre -->
    <mat-toolbar-row class="hover:bg-gray-700 hover:text-white">
        <a href='' class='w-full hover:bg-gray-700'>Planning</a>
    </mat-toolbar-row>
    <!-- uniquement super admin -->
    <mat-toolbar-row class="hover:bg-gray-700 hover:text-white">
        <a href='' class='w-full hover:bg-gray-700'>Config.</a>
      </mat-toolbar-row>
</mat-toolbar>