<div class="h-full flex bg-slate-600 flex-row">
  <app-menu class="h-full bg-zinc-700"></app-menu>
  <div class="h-full w-full flex flex-col bg-slate-700 justify-evenly">
    <h2 class="flex justify-center"> Gérer les administrateurs </h2>
    <app-datagrid class="flex w-full justify-center" [dataSourceArg]="admins" [callbackFunctionChangeUser]="changeAdmin" [callbackFunctionDeleteUser]="deleteAdmin"></app-datagrid>
    <button mat-raised-button color="primary" routerLink="/addChangeAdmin"> Ajouter un administrateur</button>
    <button mat-raised-button color="primary" routerLink="/ajout-centre"> Ajouter un centre</button>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let admin of admins">
        <h3> Administrateur {{ admin.id}}</h3>
        <p>Nom d'administrateur: {{ admin.firstName }} <br/> Mot de pass: {{ admin.password }}</p>
        <h5> Contact </h5>
        <p> email : {{ admin.mail }}; Role : 0{{ admin.role}}, Adress : {{ admin.center.name}}</p>
        <button (click)="deleteAdmin(admin.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>

 